<strong>Recuração de senha</strong>

<p>
  Foi solicitada a recuperação de senha do email {{ email }}.<br>
  Se você não fez esta solicitação, por favor, altere a sua senha.
</p>
{{token}}

<a href="{{ link }}" target="_blank" rel="noopener">criar uma nova senha</a>
