<strong>Recuração de senha</strong>

<p>
  Foi solicitada a recuperação de senha do email {{ email }}.<br>
  Se você não fez esta solicitação, por favor, crie uma nova senha.
</p>
{{token}}

<a href="{{ link }}">criar uma nova senha</a>
